.container {
  display: flex;
  margin: 43px 41px;
}

.main {
  margin: 0 34px;
  width: 100%;
}

.title {
  color: #FFF;
  margin: 0;
}

.subtitle {
  color: #A5A5A5;
  margin: 20px 0 0 0;
}

.line {
  border-bottom: 1px solid #A5A5A5;
  width: 98%;
}
